.viewMode {
  .edit-icon {
    position : relative;
    float    : right;
    top      : 5px;
    right    : 5px;
    z-index  : 1000;
  }
}

.editMode {
  .view-icon {
    position : relative;
    float    : right;
    top      : 9px;
    right    : 5px;
    z-index  : 1000;
  }
}
