<head>
  <link href="https://cdn.quilljs.com/1.2.2/quill.snow.css" rel="stylesheet"/>
  <link href="https://cdn.quilljs.com/1.2.2/quill.bubble.css" rel="stylesheet"/>
</head>

<div>
  <jda-rich-text-editor [model]="inputString" [readonly]="false"
                        (getUpdatedModelValue)="getUpdatedModelValueEvent($event)">

  </jda-rich-text-editor>
</div>

<br>

<div><h3> NGX-Quill Generated HTML</h3>
  {{htmlGeneratedByRTE}}
</div>

<br>

<div>
  <h3> Converted to JSON string by using html2json library </h3>
  {{jsonGeneratedByLibrary}}
</div>

<br>

<div>
  <h3> Converted to HTML from JSON string by using html2json library </h3>
  {{htmlGeneratedByLibrary}}
</div>
